{% extends "encyclopedia/layout.html" %}

{% block title %}
Create Page
{% endblock %}

{% block body %}
    <h1> Create Your Encyclopedia Entry </h1> <br>
    <form action="{% url 'create' %}" method = "POST">
        {% csrf_token %} 
        <label> <h6>Enter Title:</h6></label> <br>
        <input class="text" type="text" name="title"> <br> <br>
        <label> <h6>Create content:</h6></label> <br>
        <textarea name="content"></textarea> <br>
        <input type="submit" value="Submit">
    </form>


{% endblock %}


